/*
 * File: style.css
 * Authors: Dominik Horký, Tomáš Martykán
 */

.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #ffffff;
}

.box-actions {
    -fx-padding: 8px;
    -fx-background-color: #1A365D;
}

.icon-button {
    -fx-background-color: transparent;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-opacity: 1;
}

.icon-button:hover {
    -fx-opacity: 0.7;
}

.box-property-line {
    -fx-padding: 8px 8px 5px 0;
    -fx-font-size: 13px;
    -fx-background-color: #EEEEEE;
    -fx-text-color: #1A202C;
}

.property-name {
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 5px;
}

.property-text {

}

.box-heading {
    -fx-padding: 0 16px 0 0;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #CBD5E0;
    -fx-text-color: #1A202C;
}

.box-heading .label {
    -fx-padding: 10px;
}

.checkerboard {
    -fx-background-image: url(checkerboard.png);
}

.class-box {
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: #1A365D;
    -fx-background-color: white;
    -fx-pref-width: 200px;
}

.class-box-title {
    -fx-background-color: #1A365D;
    -fx-text-fill: white;
    -fx-padding: 10px;
    -fx-pref-width: 200px;
}

.class-box-attribs {
    -fx-padding: 10px;
    -fx-border-style: solid;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #1A365D;
    -fx-pref-width: 200px;
}

.class-box-methods {
    -fx-padding: 10px;
    -fx-pref-width: 200px;
}

.class-box-empty {
    -fx-padding: 0px;
    -fx-pref-height: 5px;
}

/* TreeView */
.tree-view {

}

.tree-cell {
    -fx-font-weight: bold ;
}

/* Buttons menu under TreeView */

#boxClassOptions {
    -fx-background-color: #DDDDDD;
}

#boxClassOptions > .button {
  -fx-background-color: #DEDEDE;
  -fx-border: none;
  -fx-border-radius: 0px;
  -fx-color: white;
  -fx-padding: 6px 10px;
  -fx-text-align: center;
  -fx-text-decoration: none;
  -fx-display: inline-block;
  -fx-font-size: 11px;
}

#boxClassOptions > .button:hover {
    -fx-background-color: #EEEEEE;
}

/* Split pane styling */

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: #1A365D;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: #1A365D;
}

/* Modern scrollbars */
/* From https://stackoverflow.com/questions/48048943/javafx-8-scroll-bar-css */
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-border-radius: 2.0em;
}


.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 0.0 10.0 0.0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0.0em;
    -fx-padding: 0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: derive(#4D4C4F, 10.0%);
    -fx-background-insets: 2.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
}